{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                },
                "modules": "auto" // Chỉ sử dụng nếu cần Babel xử lý cả ES Modules và CommonJS
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ],
        [
            "@babel/plugin-syntax-import-attributes",
            {
                "deprecatedAssertSyntax": true
            }
        ],
        ["@babel/transform-runtime"],
        ["@babel/plugin-transform-modules-commonjs"]
    ]
}
